# vscode
**/.vscode/.browse.c_cpp.db*
**/.vscode/c_cpp_properties.json
**/.vscode/launch.json
**/.vscode/settings.json
**/.vscode/ipch

# platformIO
.pio

# Zephyr build output
build/
*.log
*.elf
*.bin
*.hex

# python
.venv

# sphinx
.build